authorizationEndPoint=""
customAuthorizationRequestParameters=[ \
  ]
customClaims=[ \
  "user_momo=momo", \
  ]
customTokenRequestParameters=[ \
  ]
discoveryEndPoint="http://keycloak:8080/realms/liferay/.well-known/openid-configuration"
discoveryEndPointCacheInMillis=L"360000"
idTokenSigningAlgValues=[ \
  "RS256", \
  ]
issuerURL=""
jwksURI=""
openIdConnectClientId="liferay"
openIdConnectClientSecret="liferay-secret-change-me"
providerName="Keycloak"
registeredIdTokenSigningAlg=""
scopes="openid\ profile\ email"
subjectTypes=[ \
  ]
tokenConnectionTimeout=I"30000"
tokenEndPoint=""
userInfoEndPoint=""